version: "3.8"

networks:
  bus-booking-network:
    driver: bridge

services:
  # Database services
  postgres:
    image: postgres:17-alpine
    container_name: postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init-databases.sql:/docker-entrypoint-initdb.d/init-databases.sql
    ports:
      - "5432:5432"
    networks:
      - bus-booking-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7-alpine
    container_name: redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    networks:
      - bus-booking-network
    command: ["redis-server", "--appendonly", "yes"]
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 3s
      retries: 3

  # Microservices
  user-service:
    build:
      context: .
      dockerfile: ./user-service/Dockerfile
    container_name: user-service
    restart: unless-stopped
    env_file:
      - ./user-service/.env.dev
    ports:
      - "8080:8080"
    networks:
      bus-booking-network:
        aliases:
          - user-internal.cluster.local
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "--no-verbose",
          "--tries=1",
          "--spider",
          "http://localhost:8080/health",
        ]
      interval: 30s
      timeout: 10s
      retries: 3

  trip-service:
    build:
      context: .
      dockerfile: ./trip-service/Dockerfile
    container_name: trip-service
    restart: unless-stopped
    env_file:
      - ./trip-service/.env.dev
    ports:
      - "8081:8081"
    networks:
      bus-booking-network:
        aliases:
          - trips-internal.cluster.local
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "--no-verbose",
          "--tries=1",
          "--spider",
          "http://localhost:8081/health",
        ]
      interval: 30s
      timeout: 10s
      retries: 3

  booking-service:
    build:
      context: .
      dockerfile: ./booking-service/Dockerfile
    container_name: booking-service
    restart: unless-stopped
    env_file:
      - ./booking-service/.env.dev
    ports:
      - "8082:8082"
    networks:
      bus-booking-network:
        aliases:
          - bookings-internal.cluster.local
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
      user-service:
        condition: service_healthy
      trip-service:
        condition: service_healthy
    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "--no-verbose",
          "--tries=1",
          "--spider",
          "http://localhost:8082/health",
        ]
      interval: 30s
      timeout: 10s
      retries: 3

  payment-service:
    build:
      context: .
      dockerfile: ./payment-service/Dockerfile
    container_name: payment-service
    restart: unless-stopped
    env_file:
      - ./payment-service/.env.dev
    ports:
      - "8084:8084"
    networks:
      bus-booking-network:
        aliases:
          - payments-internal.cluster.local
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "--no-verbose",
          "--tries=1",
          "--spider",
          "http://localhost:8084/health",
        ]
      interval: 30s
      timeout: 10s
      retries: 3

  # Gateway service
  gateway-service:
    build:
      context: .
      dockerfile: ./gateway-service/Dockerfile
    container_name: gateway-service
    restart: unless-stopped
    env_file:
      - ./gateway-service/.env.dev
    ports:
      - "8000:8000"
    networks:
      bus-booking-network:
        aliases:
          - gateway-internal.cluster.local
    depends_on:
      user-service:
        condition: service_healthy
      trip-service:
        condition: service_healthy
      booking-service:
        condition: service_healthy
      payment-service:
        condition: service_healthy
    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "--no-verbose",
          "--tries=1",
          "--spider",
          "http://localhost:8000/health",
        ]
      interval: 30s
      timeout: 10s
      retries: 3

volumes:
  postgres_data:
  redis_data:
